In [0]:
# These are the questions that can be asked

'''
1) What if you have 3 key value pair data and one data has 4 key value pair what happens
2) what is multiple and line delimited json and which one works faster
3) how to convert nested data in spark dataframe   (Very Important full explaination in other spark folders last cell block explaination)
4) what will happend if i have corrupt json file

line delimited json:
{.........},
{.........},
{.........}

multiline:
[
    {
        ...,
        ...,
        ...
    },
    {
        ...,
        ...,
        ...
    }
]
'''

In [0]:
'''
By default json read data in line delimited format so if we want to use multiline json or load multiline json there is a process

multiline takes more time to process but used in industry 5th box i have shown how multiline to read
'''

In [0]:
# How to read json 

df_json = spark.read.format("json")\
                    .option("inferschema","true")\
                    .option("mode","PERMISSIVE")\
                    .load("/FileStore/tables/json_data.txt")

df_json.show()

+---+--------+------+
|age|    name|salary|
+---+--------+------+
| 20|  Manish| 20000|
| 25|  Nikita| 21000|
| 16|  Pritam| 22000|
| 35|Prantosh| 25000|
| 67|  Vikash| 40000|
+---+--------+------+

In [0]:
# Now what id json have diff fields

df_json_ex = spark.read.format("json")\
                    .option("inferschema","true")\
                    .option("mode","PERMISSIVE")\
                    .load("/FileStore/tables/json_diff_field.txt")

df_json_ex.show()

# create a new coloumn and only put data which has record other null

+---+------+--------+------+
|age|gender|    name|salary|
+---+------+--------+------+
| 20|  null|  Manish| 20000|
| 25|  null|  Nikita| 21000|
| 16|  null|  Pritam| 22000|
| 35|  null|Prantosh| 25000|
| 67|     M|  Vikash| 40000|
+---+------+--------+------+

In [0]:
df_json_multi = spark.read.format("json")\
                    .option("inferschema","true")\
                    .option("mode","PERMISSIVE")\
                    .option("multiline","true")\
                    .load("/FileStore/tables/multiline_correct.txt")

df_json_multi.show()

# we need to add an option multiline true for it to run  in multiline always it will be covered with []

+---+--------+------+
|age|    name|salary|
+---+--------+------+
| 20|  Manish| 20000|
| 25|  Nikita| 21000|
| 16|  Pritam| 22000|
| 35|Prantosh| 25000|
| 67|  Vikash| 40000|
+---+--------+------+

In [0]:
# how to detect corrupted records while reading json this happens automatically

df_corrupt = spark.read.format("json")\
                    .option("inferschema","true")\
                    .option("mode","PERMISSIVE")\
                    .load("/FileStore/tables/corrupt_json.txt")

df_corrupt.show()

+--------------------+----+--------+------+
|     _corrupt_record| age|    name|salary|
+--------------------+----+--------+------+
|                null|  20|  Manish| 20000|
|                null|  25|  Nikita| 21000|
|                null|  16|  Pritam| 22000|
|                null|  35|Prantosh| 25000|
|{"name":"Vikash",...|null|    null|  null|
+--------------------+----+--------+------+

In [0]:
# How to work with nested json


df_nest = spark.read.format("json")\
                    .option("inferschema","true")\
                    .option("mode","PERMISSIVE")\
                    .option("multiline","true")\
                    .load("/FileStore/tables/nested_json.json")

df_nest.show(5)
df_nest.printSchema()

+----+-------+--------------------+-------------+-------------+-------------+------+
|code|message|         restaurants|results_found|results_shown|results_start|status|
+----+-------+--------------------+-------------+-------------+-------------+------+
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|[{{{17066603}, b9...|         6835|           20|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|[{{{17093124}, b9...|         8680|           20|            1|  null|
+----+-------+--------------------+-------------+-------------+-------------+------+
only showing top 5 rows

root
 |-- code: long (nullable = true)
 |-- message: string (nullable = true)
 |-- restaurants: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- restaurant: struct (nullable = true)
 |    |    |    |-- R: struct (nullable = true)
 |    |    |    |    |-- res_id: long (nullable = true)
 |    |    |    |-- apikey: string (nullable = true)
 |    |    |    |-- average_cost_for_two: long (nullable = true)
 |    |    |    |-- cuisines: string (nullable = true)
 |    |    |    |-- currency: string (nullable = true)
 |    |    |    |-- deeplink: string (nullable = true)
 |    |    |    |-- establishment_types: array (nullable = true)
 |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |-- events_url: string (nullable = true)
 |    |    |    |-- featured_image: string (nullable = true)
 |    |    |    |-- has_online_delivery: long (nullable = true)
 |    |    |    |-- has_table_booking: long (nullable = true)
 |    |    |    |-- id: string (nullable = true)
 |    |    |    |-- is_delivering_now: long (nullable = true)
 |    |    |    |-- location: struct (nullable = true)
 |    |    |    |    |-- address: string (nullable = true)
 |    |    |    |    |-- city: string (nullable = true)
 |    |    |    |    |-- city_id: long (nullable = true)
 |    |    |    |    |-- country_id: long (nullable = true)
 |    |    |    |    |-- latitude: string (nullable = true)
 |    |    |    |    |-- locality: string (nullable = true)
 |    |    |    |    |-- locality_verbose: string (nullable = true)
 |    |    |    |    |-- longitude: string (nullable = true)
 |    |    |    |    |-- zipcode: string (nullable = true)
 |    |    |    |-- menu_url: string (nullable = true)
 |    |    |    |-- name: string (nullable = true)
 |    |    |    |-- offers: array (nullable = true)
 |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |-- photos_url: string (nullable = true)
 |    |    |    |-- price_range: long (nullable = true)
 |    |    |    |-- switch_to_order_menu: long (nullable = true)
 |    |    |    |-- thumb: string (nullable = true)
 |    |    |    |-- url: string (nullable = true)
 |    |    |    |-- user_rating: struct (nullable = true)
 |    |    |    |    |-- aggregate_rating: string (nullable = true)
 |    |    |    |    |-- rating_color: string (nullable = true)
 |    |    |    |    |-- rating_text: string (nullable = true)
 |    |    |    |    |-- votes: string (nullable = true)
 |-- results_found: long (nullable = true)
 |-- results_shown: long (nullable = true)
 |-- results_start: string (nullable = true)
 |-- status: string (nullable = true)

In [0]:
# In the above output you can see the output looks like shit now if we want to make this readable and use it to gather info we need to flatten it and create a proper df 

# Basically to flat we need to flatten basically two types array type and struct type depending on what you want you have to explode array 

# array need to be exploded use explode_outer if you have null values in array if used explode only then when null is encountered the whole result will be shown as null

# while if struct then use . to traverse inside it and get the data you want and then spark will create a coloum for you when you select 

from pyspark.sql.functions import *
from pyspark.sql.types import *

# suppose i want res_id, establishment -> element, name, offer->element code in next block

In [0]:
df_temp = df_nest.select(explode("restaurants").alias("res")).printSchema()

root
 |-- res: struct (nullable = true)
 |    |-- restaurant: struct (nullable = true)
 |    |    |-- R: struct (nullable = true)
 |    |    |    |-- res_id: long (nullable = true)
 |    |    |-- apikey: string (nullable = true)
 |    |    |-- average_cost_for_two: long (nullable = true)
 |    |    |-- cuisines: string (nullable = true)
 |    |    |-- currency: string (nullable = true)
 |    |    |-- deeplink: string (nullable = true)
 |    |    |-- establishment_types: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- events_url: string (nullable = true)
 |    |    |-- featured_image: string (nullable = true)
 |    |    |-- has_online_delivery: long (nullable = true)
 |    |    |-- has_table_booking: long (nullable = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- is_delivering_now: long (nullable = true)
 |    |    |-- location: struct (nullable = true)
 |    |    |    |-- address: string (nullable = true)
 |    |    |    |-- city: string (nullable = true)
 |    |    |    |-- city_id: long (nullable = true)
 |    |    |    |-- country_id: long (nullable = true)
 |    |    |    |-- latitude: string (nullable = true)
 |    |    |    |-- locality: string (nullable = true)
 |    |    |    |-- locality_verbose: string (nullable = true)
 |    |    |    |-- longitude: string (nullable = true)
 |    |    |    |-- zipcode: string (nullable = true)
 |    |    |-- menu_url: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- offers: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- photos_url: string (nullable = true)
 |    |    |-- price_range: long (nullable = true)
 |    |    |-- switch_to_order_menu: long (nullable = true)
 |    |    |-- thumb: string (nullable = true)
 |    |    |-- url: string (nullable = true)
 |    |    |-- user_rating: struct (nullable = true)
 |    |    |    |-- aggregate_rating: string (nullable = true)
 |    |    |    |-- rating_color: string (nullable = true)
 |    |    |    |-- rating_text: string (nullable = true)
 |    |    |    |-- votes: string (nullable = true)

In [0]:
df_temp = df_nest.select(explode("restaurants").alias("res"))

df_temp.show(truncate = False)

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|res                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|{{{17066603}, b90e6a8c738410315a20c449fe2eb1b1, 25, Southern, Cajun, Soul Food, $, zomato://restaurant/17066603, [], https://www.zomato.com/orlando/the-coop-winter-park/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, https://b.zmtcdn.com/data/pictures/3/17066603/3002ed08cd3035bae040503e26b19f93_featured_v2.jpg, 0, 0, 17066603, 0, {610 W Morse Boulevard, Winter Park, FL 32789, Orlando, 601, 216, 28.5973660000, Winter Park, Winter Park, Orlando, -81.3572190000, 32789}, https://www.zomato.com/orlando/the-coop-winter-park/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop, The Coop, [], https://www.zomato.com/orlando/the-coop-winter-park/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop, 2, 0, https://b.zmtcdn.com/data/pictures/3/17066603/3002ed08cd3035bae040503e26b19f93_featured_v2.jpg, https://www.zomato.com/orlando/the-coop-winter-park?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, {3.6, 9ACD32, Good, 432}}}                                                                                                                                                                                                        |
|{{{17059541}, b90e6a8c738410315a20c449fe2eb1b1, 50, Italian, $, zomato://restaurant/17059541, [], https://www.zomato.com/orlando/maggianos-little-italy-i-drive-universal/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, https://b.zmtcdn.com/data/pictures/1/17059541/50ead37fbc2663d80400c56da8502148_featured_v2.jpg, 0, 0, 17059541, 0, {9101 International Drive,Orlando, FL 32819, Orlando, 601, 216, 28.4332350000, I-Drive/Universal, I-Drive/Universal, Orlando, -81.4714470000, 32819}, https://www.zomato.com/orlando/maggianos-little-italy-i-drive-universal/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop, Maggiano's Little Italy, [], https://www.zomato.com/orlando/maggianos-little-italy-i-drive-universal/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop, 4, 0, https://b.zmtcdn.com/data/pictures/1/17059541/50ead37fbc2663d80400c56da8502148_featured_v2.jpg, https://www.zomato.com/orlando/maggianos-little-italy-i-drive-universal?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, {4.4, 5BA829, Very Good, 886}}}                                                                                                             |
|{{{17064405}, b90e6a8c738410315a20c449fe2eb1b1, 10, Asian, Latin American, Vegetarian, $, zomato://restaurant/17064405, [], https://www.zomato.com/orlando/tako-cheena-by-pom-pom-orlando/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, https://b.zmtcdn.com/data/pictures/5/17064405/d9046cbf96ed14c27ccb43d67b2d9e14_featured_v2.jpg, 0, 0, 17064405, 0, {932 North Mills Avenue, Orlando, FL 32803, Orlando, 601, 216, 28.5578450000, Mills 50, Mills 50, Orlando, -81.3645470000, 32803}, https://www.zomato.com/orlando/tako-cheena-by-pom-pom-orlando/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop, Tako Cheena by Pom Pom, [], https://www.zomato.com/orlando/tako-cheena-by-pom-pom-orlando/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop, 1, 0, https://b.zmtcdn.com/data/pictures/5/17064405/d9046cbf96ed14c27ccb43d67b2d9e14_featured_v2.jpg, https://www.zomato.com/orlando/tako-cheena-by-pom-pom-orlando?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, {4.4, 5BA829, Very Good, 570}}}                                                                                                                                               |
|{{{17057797}, b90e6a8c738410315a20c449fe2eb1b1, 40, Mediterranean, Turkish, $, zomato://restaurant/17057797, [], https://www.zomato.com/orlando/bosphorous-turkish-cuisine-winter-park/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, https://b.zmtcdn.com/data/pictures/7/17057797/6504549ba9a80220f1d891b4fc0f0e72_featured_v2.jpg, 0, 0, 17057797, 0, {108 S Park Ave, Winter Park, FL 32789, Orlando, 601, 216, 28.5976271000, Winter Park, Winter Park, Orlando, -81.3508344000, 32789}, https://www.zomato.com/orlando/bosphorous-turkish-cuisine-winter-park/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop, Bosphorous Turkish Cuisine, [], https://www.zomato.com/orlando/bosphorous-turkish-cuisine-winter-park/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop, 3, 0, https://b.zmtcdn.com/data/pictures/7/17057797/6504549ba9a80220f1d891b4fc0f0e72_featured_v2.jpg, https://www.zomato.com/orlando/bosphorous-turkish-cuisine-winter-park?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, {4.2, 5BA829, Very Good, 568}}}                                                                                                                    |
|{{{17057591}, b90e6a8c738410315a20c449fe2eb1b1, 45, Caribbean, $, zomato://restaurant/17057591, [], https://www.zomato.com/orlando/bahama-breeze-island-grille-1-orlando/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, https://b.zmtcdn.com/data/pictures/1/17057591/376e721c13fcd49348add84717eab67e_featured_v2.jpg, 0, 0, 17057591, 0, {8849 International Drive, Orlando, FL 32819, Orlando, 601, 216, 28.4370650000, I-Drive/Universal, I-Drive/Universal, Orlando, -81.4715260000, 32819}, https://www.zomato.com/orlando/bahama-breeze-island-grille-1-orlando/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop, Bahama Breeze Island Grille, [], https://www.zomato.com/orlando/bahama-breeze-island-grille-1-orlando/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop, 3, 0, https://b.zmtcdn.com/data/pictures/1/17057591/376e721c13fcd49348add84717eab67e_featured_v2.jpg, https://www.zomato.com/orlando/bahama-breeze-island-grille-1-orlando?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, {4.3, 5BA829, Very Good, 910}}}                                                                                                                  |
|{{{17064266}, b90e6a8c738410315a20c449fe2eb1b1, 35, Asian, Thai, $, zomato://restaurant/17064266, [], https://www.zomato.com/orlando/hawkers-asian-street-fare-mills-50/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, https://b.zmtcdn.com/data/pictures/6/17064266/76b69fcbffb0870221b7f7232b03166f_featured_v2.jpg, 0, 0, 17064266, 0, {1103 N Mills Avenue, Orlando, FL 32803, Orlando, 601, 216, 28.5605050000, Mills 50, Mills 50, Orlando, -81.3643470000, 32803}, https://www.zomato.com/orlando/hawkers-asian-street-fare-mills-50/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop, Hawkers Asian Street Fare, [], https://www.zomato.com/orlando/hawkers-asian-street-fare-mills-50/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop, 3, 0, https://b.zmtcdn.com/data/pictures/6/17064266/76b69fcbffb0870221b7f7232b03166f_featured_v2.jpg, https://www.zomato.com/orlando/hawkers-asian-street-fare-mills-50?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, {4.6, 3F7E00, Excellent, 1293}}}                                                                                                                                                    |
|{{{17060516}, b90e6a8c738410315a20c449fe2eb1b1, 60, American, $, zomato://restaurant/17060516, [], https://www.zomato.com/orlando/seasons-52-fresh-grill-orlando/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, https://b.zmtcdn.com/data/pictures/6/17060516/411c1bba0a117703e6e5f80f6752563c_featured_v2.jpg, 0, 0, 17060516, 0, {7700 West Sand Lake Road, Orlando, FL 32819, Orlando, 601, 216, 28.4481750000, Restaurant Row, Restaurant Row, Orlando, -81.4879780000, 32819}, https://www.zomato.com/orlando/seasons-52-fresh-grill-orlando/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop, Seasons 52 Fresh Grill, [], https://www.zomato.com/orlando/seasons-52-fresh-grill-orlando/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop, 4, 0, https://b.zmtcdn.com/data/pictures/6/17060516/411c1bba0a117703e6e5f80f6752563c_featured_v2.jpg, https://www.zomato.com/orlando/seasons-52-fresh-grill-orlando?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, {4.4, 5BA829, Very Good, 1685}}}                                                                                                                                                         |
|{{{17060320}, b90e6a8c738410315a20c449fe2eb1b1, 50, Irish, $, zomato://restaurant/17060320, [], https://www.zomato.com/orlando/raglan-road-irish-pub-and-restaurant-disney-downtown-disney/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, https://b.zmtcdn.com/data/pictures/0/17060320/ebfbbadf30dca1531c050e947739d603_featured_v2.jpg, 0, 0, 17060320, 0, {1640 E Buena Vista Drive, Lake Buena Vista, FL 32830, Orlando, 601, 216, 28.3713380000, Disney: Downtown Disney, Disney: Downtown Disney, Orlando, -81.5177250000, 32830}, https://www.zomato.com/orlando/raglan-road-irish-pub-and-restaurant-disney-downtown-disney/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop, Raglan Road Irish Pub and Restaurant, [], https://www.zomato.com/orlando/raglan-road-irish-pub-and-restaurant-disney-downtown-disney/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop, 4, 0, https://b.zmtcdn.com/data/pictures/0/17060320/ebfbbadf30dca1531c050e947739d603_featured_v2.jpg, https://www.zomato.com/orlando/raglan-road-irish-pub-and-restaurant-disney-downtown-disney?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, {4.3, 5BA829, Very Good, 782}}}|
|{{{17059060}, b90e6a8c738410315a20c449fe2eb1b1, 40, , $, zomato://restaurant/17059060, [], https://www.zomato.com/orlando/hillstone-winter-park/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, https://b.zmtcdn.com/data/pictures/0/17059060/b0af51eb778682ea5c721f1b21c2a090_featured_v2.jpg, 0, 0, 17059060, 0, {215 South Orlando Avenue, Winter Park, FL 32789, Orlando, 601, 216, 28.5966820000, Winter Park, Winter Park, Orlando, -81.3652600000, 32789}, https://www.zomato.com/orlando/hillstone-winter-park/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop, Hillstone, [], https://www.zomato.com/orlando/hillstone-winter-park/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop, 3, 0, https://b.zmtcdn.com/data/pictures/0/17059060/b0af51eb778682ea5c721f1b21c2a090_featured_v2.jpg, https://www.zomato.com/orlando/hillstone-winter-park?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, {4.4, 5BA829, Very Good, 1158}}}                                                                                                                                                                                                                    |
|{{{17059012}, b90e6a8c738410315a20c449fe2eb1b1, 40, German, $, zomato://restaurant/17059012, [], https://www.zomato.com/orlando/hollerbachs-willow-tree-café-sanford/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, https://b.zmtcdn.com/data/pictures/2/17059012/0f6a19850329458778d121d6201a3eb1_featured_v2.jpg, 0, 0, 17059012, 0, {205 East 1st Street, Sanford, FL 32771, Orlando, 601, 216, 28.8116530000, Sanford, Sanford, Orlando, -81.2668710000, 32771}, https://www.zomato.com/orlando/hollerbachs-willow-tree-café-sanford/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop, Hollerbach's Willow Tree Café, [], https://www.zomato.com/orlando/hollerbachs-willow-tree-café-sanford/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop, 3, 0, https://b.zmtcdn.com/data/pictures/2/17059012/0f6a19850329458778d121d6201a3eb1_featured_v2.jpg, https://www.zomato.com/orlando/hollerbachs-willow-tree-café-sanford?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, {4.8, 3F7E00, Excellent, 1699}}}                                                                                                                                               |
|{{{17060869}, b90e6a8c738410315a20c449fe2eb1b1, 100, Brazilian, Steak, $, zomato://restaurant/17060869, [], https://www.zomato.com/orlando/texas-de-brazil-i-drive-universal/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, https://b.zmtcdn.com/data/pictures/9/17060869/b61f8fe7abc9fca9b5ea32accb3d12b5_featured_v2.jpg, 0, 0, 17060869, 0, {5259 International Drive, Orlando, FL 32819, Orlando, 601, 216, 28.4676808000, I-Drive/Universal, I-Drive/Universal, Orlando, -81.4510725000, 32819}, https://www.zomato.com/orlando/texas-de-brazil-i-drive-universal/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop, Texas de Brazil, [], https://www.zomato.com/orlando/texas-de-brazil-i-drive-universal/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop, 4, 0, https://b.zmtcdn.com/data/pictures/9/17060869/b61f8fe7abc9fca9b5ea32accb3d12b5_featured_v2.jpg, https://www.zomato.com/orlando/texas-de-brazil-i-drive-universal?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, {4.6, 3F7E00, Excellent, 2324}}}                                                                                                                                     |
|{{{17061231}, b90e6a8c738410315a20c449fe2eb1b1, 40, Pub Food, $, zomato://restaurant/17061231, [], https://www.zomato.com/orlando/the-ravenous-pig-winter-park/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, https://b.zmtcdn.com/data/pictures/1/17061231/05f9f181364ecc7dabaf60d38e357a2a_featured_v2.jpg, 0, 0, 17061231, 0, {565 W Fairbanks Avenue, Winter Park, FL 32789, Orlando, 601, 216, 28.5932970000, Winter Park, Winter Park, Orlando, -81.3560240000, 32789}, https://www.zomato.com/orlando/the-ravenous-pig-winter-park/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop, The Ravenous Pig, [], https://www.zomato.com/orlando/the-ravenous-pig-winter-park/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop, 3, 0, https://b.zmtcdn.com/data/pictures/1/17061231/05f9f181364ecc7dabaf60d38e357a2a_featured_v2.jpg, https://www.zomato.com/orlando/the-ravenous-pig-winter-park?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, {4.4, 5BA829, Very Good, 1998}}}                                                                                                                                                                           |
|{{{17058534}, b90e6a8c738410315a20c449fe2eb1b1, 35, American, Sandwich, Salad, $, zomato://restaurant/17058534, [], https://www.zomato.com/orlando/earl-of-sandwich-disney-downtown-disney/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, https://b.zmtcdn.com/data/pictures/4/17058534/5f583655ea7d74aa7b66b288b2a6e492_featured_v2.jpg, 0, 0, 17058534, 0, {1750 E Buena Vista Drive, Lake Buena Vista, FL 32830, Orlando, 601, 216, 28.3728580000, Disney: Downtown Disney, Disney: Downtown Disney, Orlando, -81.5146080000, 32830}, https://www.zomato.com/orlando/earl-of-sandwich-disney-downtown-disney/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop, Earl of Sandwich, [], https://www.zomato.com/orlando/earl-of-sandwich-disney-downtown-disney/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop, 3, 0, https://b.zmtcdn.com/data/pictures/4/17058534/5f583655ea7d74aa7b66b288b2a6e492_featured_v2.jpg, https://www.zomato.com/orlando/earl-of-sandwich-disney-downtown-disney?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1, {4.7, 3F7E00, Excellent, 1341}}}                                                                               |

In [0]:
df_temp = df_temp.select("*",explode("res.restaurant.establishment_types").alias("establishment_element")).printSchema()

# using this as referrence next block will be creating my logic using this schema as reference

root
 |-- res: struct (nullable = true)
 |    |-- restaurant: struct (nullable = true)
 |    |    |-- R: struct (nullable = true)
 |    |    |    |-- res_id: long (nullable = true)
 |    |    |-- apikey: string (nullable = true)
 |    |    |-- average_cost_for_two: long (nullable = true)
 |    |    |-- cuisines: string (nullable = true)
 |    |    |-- currency: string (nullable = true)
 |    |    |-- deeplink: string (nullable = true)
 |    |    |-- establishment_types: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- events_url: string (nullable = true)
 |    |    |-- featured_image: string (nullable = true)
 |    |    |-- has_online_delivery: long (nullable = true)
 |    |    |-- has_table_booking: long (nullable = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- is_delivering_now: long (nullable = true)
 |    |    |-- location: struct (nullable = true)
 |    |    |    |-- address: string (nullable = true)
 |    |    |    |-- city: string (nullable = true)
 |    |    |    |-- city_id: long (nullable = true)
 |    |    |    |-- country_id: long (nullable = true)
 |    |    |    |-- latitude: string (nullable = true)
 |    |    |    |-- locality: string (nullable = true)
 |    |    |    |-- locality_verbose: string (nullable = true)
 |    |    |    |-- longitude: string (nullable = true)
 |    |    |    |-- zipcode: string (nullable = true)
 |    |    |-- menu_url: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- offers: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- photos_url: string (nullable = true)
 |    |    |-- price_range: long (nullable = true)
 |    |    |-- switch_to_order_menu: long (nullable = true)
 |    |    |-- thumb: string (nullable = true)
 |    |    |-- url: string (nullable = true)
 |    |    |-- user_rating: struct (nullable = true)
 |    |    |    |-- aggregate_rating: string (nullable = true)
 |    |    |    |-- rating_color: string (nullable = true)
 |    |    |    |-- rating_text: string (nullable = true)
 |    |    |    |-- votes: string (nullable = true)
 |-- establishment_element: string (nullable = true)

In [0]:
# since got error cant use explode twice we will do this 
df_temp = df_temp.select("*",explode_outer("res.restaurant.establishment_types").alias("establishment_element"))\
                .select("*",explode_outer("res.restaurant.offers").alias("offer_element"))\
                .select("res.restaurant.R.res_id","res.restaurant.name","establishment_element","offer_element")


df_temp.show()


# We use explode outer because while using explode if we get null values in that array it will show you nothing because of which whole dataset will become blank explode outer will solve that issue 

# This is how you can tranverse or use nested json and create a clean data frame according to your needs

+--------+--------------------+---------------------+-------------+
|  res_id|                name|establishment_element|offer_element|
+--------+--------------------+---------------------+-------------+
|17066603|            The Coop|                 null|         null|
|17059541|Maggiano's Little...|                 null|         null|
|17064405|Tako Cheena by Po...|                 null|         null|
|17057797|Bosphorous Turkis...|                 null|         null|
|17057591|Bahama Breeze Isl...|                 null|         null|
|17064266|Hawkers Asian Str...|                 null|         null|
|17060516|Seasons 52 Fresh ...|                 null|         null|
|17060320|Raglan Road Irish...|                 null|         null|
|17059060|           Hillstone|                 null|         null|
|17059012|Hollerbach's Will...|                 null|         null|
|17060869|     Texas de Brazil|                 null|         null|
|17061231|    The Ravenous Pig|                 null|         null|
|17058534|    Earl of Sandwich|                 null|         null|
|17057925|    Café Tu Tu Tango|                 null|         null|
|17064031|Tibby's New Orlea...|                 null|         null|
|17061237|Cevíche Tapas Bar...|                 null|         null|
|17061253| Ethos Vegan Kitchen|                 null|         null|
|17061296|Pom Pom's Teahous...|                 null|         null|
|17061205|     Yellow Dog Eats|                 null|         null|
|17057397|              'Ohana|                 null|         null|
+--------+--------------------+---------------------+-------------+
only showing top 20 rows