In [0]:
spark

In [0]:
# spark transformation basically has 2 methods Dataframe APi or using spark sql but we wont do spark sql since we know normal sql very well, we will try to understand how to do transformation and important transformations in dataframe api


my_data = [(1,1),
        (2,1),
        (3,1),
        (4,2),
        (5,1),
        (6,2),
        (7,2)]

In [0]:
from pyspark.sql.types import *
from pyspark.sql.functions import * # for future when needed 

my_schema = ['id', 'num']

In [0]:
df = spark.createDataFrame(data=my_data, schema=my_schema)

In [0]:
df.select("num").show()

+---+
|num|
+---+
|  1|
|  1|
|  1|
|  2|
|  1|
|  2|
|  2|
+---+

In [0]:
# Transformation Starts From below

In [0]:

df = spark.read.format("csv")\
                .option("header","true")\
                .option("inferschema","true")\
                .option("mode","PERMISSIVE")\
                .load("/FileStore/tables/to_transform_csv.txt")
df.printSchema()
df.show(5)

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- COMMISSION_PCT: string (nullable = true)
 |-- MANAGER_ID: string (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)

+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|SH_CLERK|  2600|            - |       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03| AD_ASST|  4400|            - |       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|  MK_MAN| 13000|            - |       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|  MK_REP|  6000|            - |       201|           20|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 5 rows

In [0]:
df.columns

Out[38]: ['EMPLOYEE_ID',
 'FIRST_NAME',
 'LAST_NAME',
 'EMAIL',
 'PHONE_NUMBER',
 'HIRE_DATE',
 'JOB_ID',
 'SALARY',
 'MANAGER_ID',
 'DEPARTMENT_ID']

In [0]:
# How you can typecast or change datatypes of your coloumn

df = df.withColumn("HIRE_DATE", to_date(col("HIRE_DATE"), "dd-MMM-yy"))  #MMM significes that month is in abbrevated name JUN like that
df = df.withColumn("MANAGER_ID", col("MANAGER_ID").cast(IntegerType()))

df.printSchema()
df.show()

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: date (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- COMMISSION_PCT: string (nullable = true)
 |-- MANAGER_ID: integer (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)

+-----------+----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER| HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|2007-06-21|  SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|2008-01-13|  SH_CLERK|  2600|            - |       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|2003-09-17|   AD_ASST|  4400|            - |       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|2004-02-17|    MK_MAN| 13000|            - |       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|2005-08-17|    MK_REP|  6000|            - |       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|2002-06-07|    HR_REP|  6500|            - |       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|2002-06-07|    PR_REP| 10000|            - |       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|2002-06-07|    AC_MGR| 12008|            - |       101|          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|2002-06-07|AC_ACCOUNT|  8300|            - |       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|2003-06-17|   AD_PRES| 24000|            - |      null|           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|2005-09-21|     AD_VP| 17000|            - |       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|2001-01-13|     AD_VP| 17000|            - |       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|2006-01-03|   IT_PROG|  9000|            - |       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|2007-05-21|   IT_PROG|  6000|            - |       103|           60|
|        105|     David|   Austin| DAUSTIN|590.423.4569|2005-06-25|   IT_PROG|  4800|            - |       103|           60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|2006-02-05|   IT_PROG|  4800|            - |       103|           60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|2007-02-07|   IT_PROG|  4200|            - |       103|           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|2002-08-17|    FI_MGR| 12008|            - |       101|          100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|2002-08-16|FI_ACCOUNT|  9000|            - |       108|          100|
|        110|      John|     Chen|   JCHEN|515.124.4269|2005-09-28|FI_ACCOUNT|  8200|            - |       108|          100|
+-----------+----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+
only showing top 20 rows

In [0]:
# How to drop coloumn 

df = df.drop("COMMISSION_PCT") #if multiple use ,
df.show(2)

+-----------+----------+---------+--------+------------+----------+--------+------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER| HIRE_DATE|  JOB_ID|SALARY|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+----------+--------+------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|2007-06-21|SH_CLERK|  2600|       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|2008-01-13|SH_CLERK|  2600|       124|           50|
+-----------+----------+---------+--------+------------+----------+--------+------+----------+-------------+
only showing top 2 rows

In [0]:
# Selecting columns

df.select("EMPLOYEE_ID","FIRST_NAME").show(2) 

# if want to do operation
# Either use withColumn and create a new column or update existing which is recmommened or temporarily use col and add subtract

# For temporary purpose 
df.select(col("EMPLOYEE_ID")+2).show(2)

# using expression in select what this does is convert string type things in select as a job  expression is used for complex transformation which you can do directly with sql
# any select always expects column only Expr will convert the rest sql into logic

df.selectExpr("EMPLOYEE_ID + 2 as EMP").show(2)  # you can write query like logic with Expr

+-----------+----------+
|EMPLOYEE_ID|FIRST_NAME|
+-----------+----------+
|        198|    Donald|
|        199|   Douglas|
+-----------+----------+
only showing top 2 rows

+-----------------+
|(EMPLOYEE_ID + 2)|
+-----------------+
|              200|
|              201|
+-----------------+
only showing top 2 rows

+---+
|EMP|
+---+
|200|
|201|
+---+
only showing top 2 rows

In [0]:
# How alias work
df.select(col("EMPLOYEE_ID").alias("EMP")).show(1)


# Filter how to use filter or where both used for same purpose, these also like select will expect coloumn and the logic
df.filter((col("SALARY")>13000) & (col("MANAGER_ID")==100)).show()
df.where((col("SALARY")>13000) & (col("MANAGER_ID")==100)).show()
# when using $ for and , | for or, you have to enclose your columns in brackets like above 


#what is literal that is lit
# Used when we want to create a coloumn with constant value throughtout the coloumn 

df.select("*", lit("lol").alias("new_col")).show(3)

+---+
|EMP|
+---+
|198|
+---+
only showing top 1 row

+-----------+----------+---------+--------+------------+----------+------+------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER| HIRE_DATE|JOB_ID|SALARY|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+----------+------+------+----------+-------------+
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|2005-09-21| AD_VP| 17000|       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|2001-01-13| AD_VP| 17000|       100|           90|
+-----------+----------+---------+--------+------------+----------+------+------+----------+-------------+

+-----------+----------+---------+--------+------------+----------+------+------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER| HIRE_DATE|JOB_ID|SALARY|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+----------+------+------+----------+-------------+
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|2005-09-21| AD_VP| 17000|       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|2001-01-13| AD_VP| 17000|       100|           90|
+-----------+----------+---------+--------+------------+----------+------+------+----------+-------------+

+-----------+----------+---------+--------+------------+----------+--------+------+----------+-------------+-------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER| HIRE_DATE|  JOB_ID|SALARY|MANAGER_ID|DEPARTMENT_ID|new_col|
+-----------+----------+---------+--------+------------+----------+--------+------+----------+-------------+-------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|2007-06-21|SH_CLERK|  2600|       124|           50|    lol|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|2008-01-13|SH_CLERK|  2600|       124|           50|    lol|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|2003-09-17| AD_ASST|  4400|       101|           10|    lol|
+-----------+----------+---------+--------+------------+----------+--------+------+----------+-------------+-------+
only showing top 3 rows

In [0]:
# withColumn 
# This is used when we want to add a newcoloumn or make changes in existing coloumn like type cast etc
# withColoumnRenamed is used to rename column

df.withColumn("new_emp_is", col("EMPLOYEE_ID")+2)\
    .select("EMPLOYEE_ID","new_emp_is").show(2)
# used withcolumn with select can do complex stuff like this also can use if else and case statements will be shown ahead in future slides

+-----------+----------+
|EMPLOYEE_ID|new_emp_is|
+-----------+----------+
|        198|       200|
|        199|       201|
+-----------+----------+
only showing top 2 rows

In [0]:
# to check for null you can use isNull()

df.filter(col("MANAGER_ID").isNull()).show()

# to replace you can do fillna

df.fillna({"MANAGER_ID":-1}) # if multiple column add comma in between key value pairs key is column name value is what you want to set it with 

# If you want to use dynamic defaults like mean or something you can do it 2 ways 

# Calculate the mean value
mean_value = df.select(mean(col("SALARY"))).collect()[0][0]

# Replace nulls with the mean using withColumn
df.withColumn(
    "SALARY",
    when(col("SALARY").isNull(), mean_value).otherwise(col("SALARY"))
)
#use withcolumn for complex process or also instead of null if you want to replace 
# or 

df.fillna({"SALARY": mean_value})

# Complex operation looks like

df_replaced = df.replace({"pending": "in_progress", "done": "completed"}, subset=["status"])
#subset is in which column to replace

# if want to replace substitute null and everything you can do it together with withColumn whenotherwise

df_transformed = df.withColumn(
    "status",
    when(col("status").isNull(), "Unknown")            # Replace null with "Unknown"
    .when(col("status") == "pending", "in_progress")  # Replace "pending" → "in_progress"
    .otherwise(col("status"))                         # Keep everything else the same
)

+-----------+----------+---------+-----+------------+----------+-------+------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|EMAIL|PHONE_NUMBER| HIRE_DATE| JOB_ID|SALARY|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+-----+------------+----------+-------+------+----------+-------------+
|        100|    Steven|     King|SKING|515.123.4567|2003-06-17|AD_PRES| 24000|      null|           90|
+-----------+----------+---------+-----+------------+----------+-------+------+----------+-------------+

Out[65]: DataFrame[EMPLOYEE_ID: int, FIRST_NAME: string, LAST_NAME: string, EMAIL: string, PHONE_NUMBER: string, HIRE_DATE: date, JOB_ID: string, SALARY: int, MANAGER_ID: int, DEPARTMENT_ID: int]